<div class="container mt-5">
  <h2>Content Projection</h2>

  <div [formGroup]='myForm' class="form-container">
    <div formGroupName='cars'>
  
      <app-content-template (onAddItem)='addItem()' (onDeleteItem)="deleteItem($event)" [listItems]="myFormArray.controls">
        <ng-template let-control let-index="index">
  
            <ng-container [formGroupName]='index.toString()'>
              <div class="form-group">
                <label class="mb-0">Make</label>
                <input type="text" class="form-control" formControlName='make'>
              </div>
  
              <div class="form-group">
                <label class="mb-0">Model</label>
                <input type="text" class="form-control" formControlName='model'>
              </div>
            </ng-container>
  
        </ng-template>
      </app-content-template>
  
    </div>
  </div>
  
  <pre style='color: blue; font-size: 10px;'>{{myForm.value | json}}</pre>
</div>


